:root {
    --primary-theme: #191970;
    --secondary-theme: #f5f5f5;
    --tertiary-theme: #cee8f3;
    --dark-theme: #000000;
    --light-theme: #edf5b5;
    --purple-theme: #9439c4;
    --orange-theme: #e38532;
    --teal-theme: #32e3a8;
    --green-theme: #169c0c;
    --dark-green-theme: #145d04;
    --grey-theme: #d4d4d4;
    --dark-red-theme: #a61107;

    --link-row: #201c1c;

    --french-blue: #000091;
    --french-white: #FFFFFF;
    --french-red: #E1000F;

    --soft-dark: #696b6e;
}