:root {
    --primary-theme: #191970;
    --secondary-theme: #f5f5f5;
    --tertiary-theme: #cee8f3;
    --dark-theme: #000000;

    --link-row: #201c1c;

    --french-blue: #000091;
    --french-white: #FFFFFF;
    --french-red: #E1000F;
}