@import '../../assets/colours/colours.css';

.left-column {
    /*float: left;*/
    background-color: var(--tertiary-theme);
    width: calc(25% * 0.75);
    height: calc(100vh - 90px);
    padding-top: 12px;
    position: fixed;
}

.nav-title {
    padding-left: 10px;
}

.category-item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    font-size: 1.2em;
    position: relative;
    list-style: none;
}

.selected {
    background-color: var(--primary-theme);
    color: var(--secondary-theme);
}

.category-item:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.category-item:not(.selected):hover {
    background-color: var(--secondary-theme);
    cursor: pointer;
    border-right: 8px solid var(--primary-theme);
}

.selected:hover {
    cursor: pointer;
}