@import '../../../assets/colours/colours.css';

.ORTF-logo {
    height: 128px;
    margin-left: 18px;
    float: right;
}

.listen-heading {
    margin-bottom: 20px;
}

.listen-description {
    line-height: 1.3;
    margin-bottom: 16px;
}

.heading-text {
    padding-right: 20px;
}

.listen-heading.playlist {
    margin-top: 30px;
    border-top: 4px solid black;
    padding-top: 16px;
}

.playlist-title {
    margin-bottom: -8px;
}

.playlist-iframe {
    border-radius: 12px;
    width: 45%;
    height: 410px;
    float: left;
}

.playlist-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;
}

.playlist-cover {
    margin-top: 16px;
    width: 180px;
    height: 180px;
    border-radius: 10px;
}