@import '../../assets/colours/colours.css';

.navbar {
    width: 100vw;
    height: 90px;
    overflow: visible;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    background-color: var(--primary-theme) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--secondary-theme);
    font-size: 1.2em;
    text-decoration: none;
    padding: 23px 30px !important;
    height: 90px;
    align-content: center;
    background-color: var(--primary-theme);
}

.navbar-dark .navbar-nav .nav-link:not(.language-dropdown):hover {
    background-color: var(--secondary-theme);
    color: var(--primary-theme);
}

.navbar-dark .navbar-nav .nav-item:not(.language-select).dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    background-color: var(--secondary-theme);
    width: 150px;
    top: 90px;
    border: 0;
    padding: 0;
    margin: 0;
}

.navbar-dark .navbar-nav .nav-item:not(.language-select).dropdown:hover .dropdown-menu .dropdown-item {
    padding: 10px;
    color: black;
    text-decoration: none;
    border: 0;
    margin: 0;
}

.navbar-dark .navbar-nav .nav-item.dropdown:hover .dropdown-menu .dropdown-item:hover {
    background-color:var(--primary-theme);
    color: var(--secondary-theme);
}

.language-select .dropdown-menu {
    background-color: var(--secondary-theme);
}

.flag-icon {
    margin-right: 10px;
}

.logo-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.logo-container img {
    filter: drop-shadow(0px 100px 0 var(--secondary-theme)) drop-shadow(0px 100px 0 var(--secondary-theme)) drop-shadow(0px 100px 0 var(--secondary-theme)) drop-shadow(0px 100px 0 var(--secondary-theme)) drop-shadow(0px 100px 0 var(--secondary-theme));
    transform: translateY(-100px);
}

#logo {
    height: 90px;
    margin-right: 4px;
}

.logo-text {
    color: var(--secondary-theme);
}