@import '../../assets/colours/colours.css';

.right-column {
    float: right;
    background-color: var(--tertiary-theme);
    width: 25%;
    height: 100%;
    padding: 10px;
    padding-top: 12px;
}

.right-children > * {
    margin-top: 16px;
    padding-top: 12px;
    border-top: 4px solid var(--dark-theme);
}