.right-column {
    float: right;
    background-color: #cee8f3;
    width: 25%;
    height: 100%;
    padding: 10px;
    padding-top: 12px;
}

.right-children > * {
    margin-top: 16px;
    padding-top: 12px;
    border-top: 4px solid black;
}