@import '../../assets/colours/colours.css';

.central-column {
    float: right;
    background-color: var(--secondary-theme);
    max-width: 60vw;
    width: 75%;
    height: 100%;
    padding: 20px;
    padding-top: 12px;
}

.central-column.full {
    max-width: calc(75% + (25% * 0.25));
    width: 100%;
}

@media (max-width: 768px) {
    .central-column {
        max-width: 96vw;
        width: 100vw;
        margin-top: 60px;
    }

    .central-column.full {
        max-width: 96vw;
        width: 100vw;
    }
}