@import '../../../assets/colours/colours.css';

.language-component {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.common-signs {
    width: 440px;
}

.useful-phrases {
    width: 50%;
}

td {
    vertical-align: middle;
}

.punctuation {
    width: 100%;
}

.punctuation-text {
    margin-bottom: 8px;
}

.flashcard-container {
    width: 400px;
    height: 260px;
    overflow: hidden;
    position: relative;
}

.flashcard-slider {
    display: flex;
    transition: transform 0.4s ease;
    width: 100%;
}

.flashcard-slider > * {
    flex-shrink: 0;
    width: 100%;
  }

.flashcard-arrows {
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.btn-flashcard-arrow {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.btn-flashcard-arrow p {
    margin-top: 0;
    margin-bottom: 2px;
}

.back-text {
    margin-left: 4px;
}

.next-text {
    margin-right: 4px;
}

.table {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.phrase-sound {
    display: flex;
    align-items: center;
}

.btn-song-preview.phrase {
    margin-right: 6px;
    height: 24px;
}

@media (max-width: 1170px) {
    .useful-phrases {
        width: 440px;
    }
}