@import '../../assets/colours/colours.css';

.rec-box {
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    border-radius: 12px;
    width: 100%;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-row {
    display: flex;
}

.left-text {
    width: 50%;
}

.right-text {
    float: right;
    flex-grow: 1;
    text-align: right;
}

.link-row {
    margin-top: -4px;
    margin-bottom: 8px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 12px;
    background-color: var(--link-row);
    margin-left: auto;
    margin-right: auto;
}

.link {
    height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}