body {
  margin: 0;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.content {
  display: flex;
}

.nav-title {
  padding-bottom: 12px;
  /*border-bottom: 4px solid black;*/
}