@import 'assets/colours/colours.css';

body {
  margin: 0;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--dark-theme);
  background-color: var(--secondary-theme);
}

.content {
  display: flex;
  margin-top: 90px;
}

.left {
  flex-grow: 1;
}

.category-component {
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-word;
}