@import 'assets/colours/colours.css';

body {
  margin: 0;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--dark-theme);
  background-color: var(--secondary-theme);
}

.content {
  display: flex;
  margin-top: 90px;
}

.left {
  flex-grow: 1;
}

.category-component {
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-word;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-heading {
  margin-bottom: 20px;
}

.category-heading.divider {
  margin-top: 30px;
  border-top: 4px solid black;
  padding-top: 16px;
}

.category-heading.margin {
  margin-top: 20px;
}

.category-description {
  line-height: 1.3;
  margin-bottom: 16px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1030;
}

.overlay.visible {
  display: block;
}

.popup-container {
  opacity: 0;
  transition: opacity 0.25s ease;
}

.popup-container.visible {
  opacity: 1;
}

.description-image-container {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: -4px;
}

.description-image-container.left {
  float: left;
  margin-right: 18px;
}

.description-image-container.right {
  float: right;
  margin-left: 18px;
}

.description-image-container.fete {
  width: 300px;
}

.description-image-container.location {
  width: 400px;
}

.description-image {
  width: 100%;
}

.description-image.location {
  margin-bottom: 12px;
}

.overview-container {
  padding-bottom: 12px;
  overflow: auto;
}

.modal-body ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1.2em;
  text-indent: -1.6em;
}

.modal-body li {
  padding-bottom: 4px;
}

.modal-body li::before {
  content: "\1F950";
  display: block;
  float: left;
  width: 1.6em;
}

.grid-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.no-category-container {
  background-color: var(--secondary-theme);
  max-width: 74vw;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.no-category-container.events {
  padding-top: 12px;
}

@media (max-width: 768px) {
  .content {
    flex-wrap: wrap;
  }

  .left {
    width: 100vw;
    flex-wrap: wrap;
  }

  .no-category-container {
    max-width: 100vw;
  }

  .description-image-container.left {
    width: 180px;
  }

  .description-image-container.right {
    align-self: flex-end;
  }
}