@import '../../assets/colours/colours.css';

.link-row {
    display: flex;
    justify-content: space-evenly;
    border-radius: 12px;
    background-color: var(--link-row);
}

.link-row.playlist {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
}

.link-row.song {
    margin-top: -4px;
    margin-bottom: 8px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.link-row.film {
    margin-top: 0px;
    margin-bottom: 8px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}

.link {
    margin-top: 10px;
    margin-bottom: 10px;
}

.link.playlist {
    height: 28px;
}

.link.song {
    height: 32px;
}

.link.film {
    height: 32px;
}