@import '../../../assets/colours/colours.css';

.webcams-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.webcam-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: 2px solid var(--grey-theme);
    border-radius: 8px;
    width: 522px;
    height: 530px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.webcam-title {
    margin-bottom: 16px;
}

.webcam-description-map {
    display: flex;
}

.webcam-map {
    width: 150px;
    height: 150px;
    margin-left: 8px;
}

.webcam-description {
    font-size: 0.86em;
}

.webcam {
    margin-top: auto;
}