@import '../../assets/colours/colours.css';

#myModal {
    display: block;
    z-index: 1030;
}

.modal-header {
    background-color: var(--primary-theme);
    color: var(--secondary-theme);
}

.modal-header.connection {
    background-color: var(--french-red);
}

.btn-close {
    opacity: 1 !important;
}