.home-intro {
    margin-bottom: 8px;
    min-height: 385px;
}

.region-map {
    width: 400px;
    height: auto;
    float: right;
    margin-left: 8px;
}

.comparison {
    display: flex;
    justify-content: space-around;
}

.comparison-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-icon {
    margin-top: -8px;
}

.comparison-text {
    margin-top: -8px;
}

.flag-icon.comparison {
    margin-right: 0;
    font-size: 3em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}