@import '../../assets/colours/colours.css';

.carousel,
.carousel-inner,
.carousel-item,
.carousel-item img {
    width: 100%;
    max-width: 74vw;
}

@media (max-width: 768px) {
    .carousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item img {
        width: 100%;
        max-width: 100vw;
    }
}

.carousel-overlay {
    /* display in centre of image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.5);
    color: var(--french-white);
    text-align: center;
}

.carousel-overlay h3 {
    margin: 0;
}

.carousel {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.carousel-caption {
    
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--link-row);
    border-radius: 50%;
    width: 2.5rem !important;
    height: 2.5rem !important;
    background-size: 80% 80% !important;
}