@import '../../assets/colours/colours.css';

.button {
    width: fit-content;
    border: none;
    border-radius: 1.5rem;
    background-color: var(--primary-theme);
    font-size: 14px;
    color: var(--secondary-theme);
    padding: 6px;
    padding-left: 16px;
    padding-right: 16px;
}

.connection {
    background-color: var(--french-red);
}

.filter {
    background-color: transparent;
    border: 2px solid var(--primary-theme);
    color: var(--dark-theme);
}

.filter-connection {
    background-color: transparent;
    border: 2px solid var(--french-red);
    color: var(--dark-theme);
}

.filter.selected {
    background-color: var(--primary-theme);
    border: none;
    color: var(--secondary-theme);
}

.filter-connection.selected {
    background-color: var(--french-red);
    border: none;
    color: var(--secondary-theme);
}